.subtitle {
    width: fit-content;
    color: var(--main-text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;

    position: relative;
    &--divider-left {
        &::after {
            content: '';
            @include divider;

            position: absolute;
            left: 2px;
        }
    }

    &--divider-middle {
        &::after {
            content: '';
            @include divider;

            position: absolute;
            left: 50%;
            bottom: -25px;
            transform: translateX(-50%);
        }
    }
}

@media (max-width: 576px) {
    .subtitle {
        &--divider-left {
            &::after {
                bottom: -15px;
            }
        }
        &--divider-middle {
            &::after {
                bottom: -15px;
            }
        }
    }
}